@media only screen and (min-width: 1000px) and (max-width: 1440px) {
    .col-l-1 {
        width: 8.33%;
    }

    .col-l-2 {
        width: 16.66%;
    }

    .col-l-3 {
        width: 25%;
    }

    .col-l-4 {
        width: 33.33%;
    }

    .col-l-5 {
        width: 41.66%;
    }

    .col-l-6 {
        width: 50%;
    }

    .col-l-7 {
        width: 58.33%;
    }

    .col-l-8 {
        width: 66.66%;
    }

    .col-l-9 {
        width: 75%;
    }

    .col-l-10 {
        width: 83.33%;
    }

    .col-l-11 {
        width: 91.66%;
    }

    .col-l-12 {
        width: 100%;
    }

    .content {
        display: flex;
        flex-direction: column;
        position: absolute;
        z-index: 10;
        top: 15%;
        left: 18%;
    }
}

@media only screen and (min-width: 660px) and (max-width: 999.98px) {
    .col-m-1 {
        width: 8.33%;
    }

    .col-m-2 {
        width: 16.66%;
    }

    .col-m-3 {
        width: 25%;
    }

    .col-m-4 {
        width: 33.33%;
    }

    .col-m-5 {
        width: 41.66%;
    }

    .col-m-6 {
        width: 50%;
    }

    .col-m-7 {
        width: 58.33%;
    }

    .col-m-8 {
        width: 66.66%;
    }

    .col-m-9 {
        width: 75%;
    }

    .col-m-10 {
        width: 83.33%;
    }

    .col-m-11 {
        width: 91.66%;
    }

    .col-m-12 {
        width: 100%;
    }

    .help-wrapper {
        display: flex;
        flex-direction: column;
        height: auto;
        color: #51758c;
        align-items: center;
        justify-content: center;
        margin: auto;
    }

    .content {
        display: flex;
        flex-direction: column;
        position: absolute;
        z-index: 10;
        top: 15%;
        left: 10%;
    }

    .content-text p {
        background: rgba(255, 255, 255, 0.7);
        color: gray;
        padding: 1rem;
        margin-top: 10px;
        width: 400px;
    }
}

@media only screen and (max-width: 576px) {
    .col-s-1 {
        width: 8.33%;
    }

    .col-s-2 {
        width: 16.66%;
    }

    .col-s-3 {
        width: 25%;
    }

    .col-s-4 {
        width: 33.33%;
    }

    .col-s-5 {
        width: 41.66%;
    }

    .col-s-6 {
        width: 50%;
    }

    .col-s-7 {
        width: 58.33%;
    }

    .col-s-8 {
        width: 66.66%;
    }

    .col-s-9 {
        width: 75%;
    }

    .col-s-10 {
        width: 83.33%;
    }

    .col-s-11 {
        width: 91.66%;
    }

    .col-s-12 {
        width: 100%;
    }

    .logo {
        justify-content: flex-start;
    }

    .contact, .email {
        justify-content: center;
    }

    .contact img, .email img {
        padding: 1rem;
    }

    .contact-details, .email-details {
        display: none;
    }

    .social-media {
        display: none;
    }

    nav {
        display: block;
        height: 3.2rem;
        background: #f28b20;
        text-transform: uppercase;
    }

    .nav-wrapper {
        display: none;
    }

    .nav-wrapper-small {
        display: flex;
        height: 100%;
        align-items: center;
    }

    .social-media-small {
        display: flex;
        justify-content: flex-start;
    }

    .social-media-small img {
        padding: 0.5rem;
    }

    .icons {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .search-btn {
        cursor: pointer;
        width: 3rem;
        height: 3.2rem;
        outline: none;
        border: none;
        background: url("../img/search_icon.png") center no-repeat;
    }

    .toggle-btn {
        height: 100%;
        outline: none;
        border: none;
        background: none;
    }

    .search-icon {
        display: flex;
        background: url(../img/search_icon.png) no-repeat center;
        width: 3rem;
        height: 100%;
        cursor: pointer;
    }

    .close-icon {
        display: flex;
        background: url(../img/mobile_menu_close.png) no-repeat center;
        width: 3rem;
        height: 100%;
        cursor: pointer;
    }

    .hamburger {
        align-items: center;
        justify-content: center;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        z-index: 10;
        top: 10%;
        left: 0;
    }

    .content h1 {
        font-size: 22px;
        font-family: "Roboto Slab", serif;
        text-transform: uppercase;
        text-align: center;
        color: white;
        padding-bottom: 3rem;
    }

    .content-text p {
        background: rgba(255, 255, 255, 0.7);
        color: gray;
        text-align: center;
        padding: 1rem;
        margin-top: 10px;
        width: 100%;
    }

    .more-btn {
        position: absolute;
        left: 25%;
        top: 100%;
        text-transform: uppercase;
        color: white;
        background: #35b38e;
        border: none;
        cursor: pointer;
        width: 160px;
        height: 60px;
        padding: auto;
    }

    .swiper .swiper-button-prev, .swiper .swiper-button-next {
        position: absolute;
        top: 83%;
        color: white;
        align-items: baseline;
    }

    .help-wrapper {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    /*   BURGER   */
    /*.main-translate {*/
    /*    animation-name: translate;*/
    /*    animation-duration: 0.4s;*/
    /*    animation-fill-mode: forwards;*/
    /*  }*/
    /*  */
    /*  @keyframes translate {*/
    /*    from {transform: translate(0);}*/
    /*    to {transform: translate(-80%);;}*/
    /*  }*/
    .main.sidebar-open {
        transform: translate(-80%, 0);
    }

    .sidebar-container {
        display: none;
    }

    .sidebar {
        display: flex;
        flex-direction: column;
        width: 80%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 100%;
        background-color: #51758c;
        transition: 500ms ease-in;
    }

    .sidebar-container.sidebar-opened {
        display: block;
    }

    .sidebar a {
        display: block;
        width: 100%;
        height: 3rem;
        padding: 1rem;
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        background-color: #51758c;
    }

    .sidebar a:hover {
        background-color: #2a485c;
    }

    .dropdown-btn {
        display: block;
        width: 100%;
        height: 3rem;
        padding: 1rem;
        text-align: left;
        outline: none;
        border: none;
        color: white;
        background-color: #51758c;
        cursor: pointer;
        text-transform: uppercase;
    }

    .fa-plus, .fa-minus {
        float: right;
        color: white;
    }

    .dropdown-btn:hover {
        background-color: #2a485c;
    }

    .dropdown-menu {
        display: none;
    }

    .dropdown-menu a {
        display: block;
        width: 100%;
        height: 3rem;
        padding: 1rem;
        background-color: #2a485c;
        text-transform: uppercase;
    }

    .dropdown-menu a:hover {
        background-color: #51758c;
    }

}

@media only screen and (min-width: 577px) and (max-width: 659px) {
    .col-s-1 {
        width: 8.33%;
    }

    .col-s-2 {
        width: 16.66%;
    }

    .col-s-3 {
        width: 25%;
    }

    .col-s-4 {
        width: 33.33%;
    }

    .col-s-5 {
        width: 41.66%;
    }

    .col-s-6 {
        width: 50%;
    }

    .col-s-7 {
        width: 58.33%;
    }

    .col-s-8 {
        width: 66.66%;
    }

    .col-s-9 {
        width: 75%;
    }

    .col-s-10 {
        width: 83.33%;
    }

    .col-s-11 {
        width: 91.66%;
    }

    .col-s-12 {
        width: 100%;
    }

    .contact-details, .email-details {
        display: none;
    }

    .nav-wrapper {
        width: 100%;
        margin: 0;
    }

    .content {
        width: 80%;
        margin: auto;
        left: 10%;
    }
}